html{
    min-height: 100%;
    position: relative;
}
body{
    background-image: url(educacionfisica.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    margin-bottom: 40px;
    
}
header{
    text-align: center;
    background-color: skyblue;
}
main{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 17px;
    width: 400px;
    margin: auto;

}
aside{
    background-color: red;
}
footer{
    text-align: center;
    background-color: skyblue;
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 40px;
}
